@model IList<Word>

@{
    Layout = "_Layout";
    ViewBag.Title = "Vocab";
    
    IList<Word> words = Model;

}


<div class="container">
    
    @if (words.Count > 0)
    {
        Word word = words[0];
        
        <div>
            <h1>@word.Name</h1>
            <p>@word.Definition</p>

        </div>
        
        <form>
            <div class="main-red-button-hover mt-5">
                <a asp-controller="Vocab" asp-action="Index" class="mx-100">Next</a>
            </div>

        </form>
        
    }
    
</div>