
<div class="main-banner" id="top" style="margin-top: -100px">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="owl-carousel owl-banner">
                <div class="item header-text">
                  <h6>Welcome to Word Quest</h6>
                  <h2>Build <em>your vocabs</em> with the best <span>ENV</span>?</h2>
                  <p>Mastering Vocabulary in the Optimal Learning Environment: Unlocking Your Linguistic Potential!</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a asp-area="User" asp-controller="Vocab" asp-action="Index">Learn Vocabs</a>
                    </div>
                    <div class="call-button" hidden>
                      <a href="#"><i class="fa fa-phone"></i> 010-020-0340</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6>Quizzes</h6>
                  <h2>Confidently <em> Conquer Vocabs </em> with <span> Quizzes!</span></h2>
                  <p>Boost Your Confidence Through Active Participation: Embrace Quizzes to Master Vocabulary!</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#">Quiz now</a>
                    </div>
                    <div class="call-button">
                      <a href="#"><i class="fa fa-exclamation"></i>Prev Quiz</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6>Practice</h6>
                  <h2>Speak <em>& Learn</em> Enhance <span>with Others!</span></h2>
                  <p>Collective Language Empowerment: Unleashing Potential through Speaking Practice!</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a asp-area="User" asp-controller="Vocab" asp-action="Index">Learn Vocabs</a>
                    </div>
                    <div class="call-button">
                      <a href="#"><i class="fa fa-phone"></i> Call Random</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>